body {
    font-family: Arial, sans-serif;
    background-color: #c95151;
    padding: 20px;
}

form {
    background-color: #fae3e3;
    border-radius: 5px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fae3e3;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
  h1 {
    text-align: center;
  }

@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  form {
    padding: 10px;
  }

  input[type="number"], input[type="submit"] {
    font-size: 14px;
  }
}
